
body{
    background-color:rgb(24, 24, 24);
    /*text color change*/
    color: rgb(255, 255, 255);
    overflow: scroll; 
    font-style:Sans-serif;
    font-size: 20px
}
.shout{
    color:rgb(255, 255, 255);
    text-align:center
}
.id{
    color:rgb(130, 130, 130);
    opacity:100%;
}

h1{
    border-radius: 20px;
    margin-right:100px;
    margin-left:200px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 100px solid rgb(255, 255, 255);
   
    text-align: center;
    font-size: 110px

}
h2{
    margin-right:100px;
    margin-left:250px;
    margin-bottom:20px;
    margin-top:100px;
    text-align: left;
    font-size: px;
}

h3{
    border-radius: 20px;
    margin-right:100px;
    margin-left:200px;
    margin-bottom: 40px;
    margin-top: 100px;
    border-bottom: 100px solid rgb(255, 255, 255);
    text-align: center;
}

p{
    margin-left: 500px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 20px
}

li{
    text-align:left;
    font-size: 20px;
    margin-right:10px;
    Margin-bottom:5px;
}

/* side bar navigation( code got from w3*/
.sidenav {
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(255, 255, 255); 
    overflow-x: hidden; 
    padding-top: 20px;
    opacity: 100%;
    font-style:Sans-serif;
    border-radius: 20px;
}

